<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="organisations.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let organisation of organisations">
    <mat-expansion-panel-header>
      <span>
        <div>
          <b>{{ organisation.organisationName }}</b>
        </div>
      </span>
      <span class="spacer"></span>
      <ul>
        <li>{{ organisation.organisationId }}&nbsp;</li>
      </ul>
    </mat-expansion-panel-header>
    <p>Type: {{ organisation.organisationType }}</p>
    <p>Projection: {{ organisation.projection }}</p>
    <mat-action-row>
      <button mat-butto color="warn" (click)="onDeleteFeature(feature.id)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="organisations.length <= 0 && !isLoading">
  No organisation added yet!
</p>
