<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Rexpendit</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/orglist">
          <mat-icon>holiday_village</mat-icon>
          <span>Organisations (admin)</span>
        </button>
        <button mat-menu-item routerLink="/orgdetail">
          <mat-icon>foundation</mat-icon>
          <span>Organisation</span>
        </button>
        <button mat-menu-item routerLink="/reimbadd">
          <mat-icon>note_add</mat-icon>
          <span matBadge="0" matBadgeOverlap="true"
            >Ajout Remboursement&nbsp;</span
          >
        </button>
        <button mat-menu-item routerLink="/reimblist">
          <mat-icon>request_page</mat-icon>
          <span
            matBadge="4"
            matBadgeOverlap="true"
            [matBadgeHidden]="justifBadHidden"
            >Remboursements&nbsp;</span
          >
        </button>
        <button mat-menu-item routerLink="/userdetail">
          <mat-icon>face</mat-icon>
          <span>Mon compte</span>
        </button>
      </mat-menu>
    </li>
    <li>
      <a mat-button routerLink="/login" routerLinkActive="mat-warn" active
        >Login</a
      >
      <a
        mat-button
        routerLink="/login"
        routerLinkActive="mat-accent"
        color="warn"
        >Logout</a
      >
    </li>
  </ul>
</mat-toolbar>
