<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="receipts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let receipt of receipts">
    <mat-expansion-panel-header>
      <span>
        <div>
          <b>{{ receipt.description }}</b>
        </div>
      </span>
      <span class="spacer"></span>
      <ul>
        <li>{{ receipt.totalCreditAmount }} CHF&nbsp;</li>
      </ul>
    </mat-expansion-panel-header>
    <p>id: {{ receipt.id }}</p>
    <p>debitorOrganisationId: {{ receipt.debitorOrganisation }}</p>
    <p>creditorUser: {{ receipt.creditorUser }}</p>
    <p>Digital copy name: {{ receipt.digitalCopy }}</p>
    <p>Date valeur: {{ receipt.creditDate }}</p>
    <p>Date création: {{ receipt.createdAt }}</p>
    <mat-action-row>
      <button mat-button color="warn" (click)="onDeleteReceipt(receipt.id)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  [length]="totalReceipts"
  [pageSize]="receiptsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="currentPage"
  (page)="onChangePage($event)"
></mat-paginator>
<p class="info-text mat-body-1" *ngIf="receipts.length <= 0 && !isLoading">
  Aucun remboursement.
</p>
